.opportunity {
    padding: 15px;
    .search {
      display: block;
      margin-bottom: 25px;

      ::ng-deep td.mat-cell{
        padding-right: 10px;
      }
    }
  }
  .controls {
    button {
      margin-right: 25px;
    }
  }
  