.form {
  width: 100%;
  padding-top: 15px;
  .form-group-title {
    h4 {
      font-weight: 500;
    }
  }
}
.row{
  display: flex;

  .col{
    width: 50%;
    padding: 0 15px;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0 -8px;
  width: 100%;
  box-sizing: border-box;

  &.radio-group {
    margin: 0;
  }

  &.full-width {
    > .mat-form-field,
    > mat-form-field {
      width: 100%;
    }
    > .mat-form-field {
      mat-form-field {
        display: block;
        width: 100%;
      }
    }
  }
  &.half-width {
    > .mat-form-field,
    > mat-form-field {
      width: 50%;
    }
  }
  > .mat-form-field,
  > mat-form-field {
    padding: 0 8px;
    width: 33.33%;
    box-sizing: border-box;
    &.field-with-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      > .mat-form-field,
      > mat-form-field {
        width: auto;
        flex: 1 0 auto;
        padding-left: 0;
        padding-right: 0;
      }
      .controls {
        flex: 0 0 auto;
        padding-left: 10px;
      }
    }
  }
}
.edit-opportunity-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px 0 5px 5px;
  .mat-title {
    margin-bottom: 0;
  }
  .controls {
    display: flex;
    flex-wrap: nowrap;

    button {
      + button {
        margin-left: 15px;
      }
    }
  }
}

.record-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 15px 0 15px;
  .title {
    margin-right: 20px;
  }
  .record-link {
    .mat-body-2 {
      white-space: nowrap;
    }
  }
}

.opportunity-main-details{
  margin-top: 45px;
}

.linked-properties-wrapper{
  padding-left: 15px;
}

.linked-property-name{
  font-size: 17px;
  padding: 7px 5px 5px 8px;
}

.no-properties{
  color: rgba(0,0,0,.54);
  font-size: 14px;
  &.error{
    color:#f44336;
  }
}
.mat-error {
  color:#f44336;
}

.linked-property{
  display: flex;
}

.properties-wrapper{
  margin-bottom: 15px;
}

.property-autocomplete{
  margin-bottom: 10px;
  .autocomplete {
    margin-bottom: 20px;
  }
}

.radio-group{
  padding: 0 15px;
}

.amount-due-selector-group{
  display: inline-flex;
  flex-direction: column;
}

mat-form-field ::ng-deep .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}

.mat-input-element[disabled] {
  color: #000;
}

::ng-deep {
  .mat-select-disabled .mat-select-value,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
  .mat-input-element:disabled,
  .black-color {
    color: #000;
  }
}

.form-container {
  width: 800px;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  form {
    display: block;
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .fields-container {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header,
  .footer {
    flex: 0 0 auto;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.custom-error {
  position: relative;
  .mat-form-field-subscript-wrapper {
    position: absolute;
    margin-top: 0;
    bottom: 0;
  }
}

.hidden {
  display: none!important;
}

.datepicker-wrapper{
  display: flex;
}
