table {
  width: 100%;
  table-layout: fixed;
}
.data-table-row{
  cursor: pointer;
  &:hover {
    background: #f5f5f5;
  }
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
